#mac files
.DS_Store

#eclipse files
/temp.wsdl
/.externalToolBuilders
.settings/
.project
.buildpath

#sublime files
*.sublime*
.tags*
TODO

#phpstorm
.idea

#git files
*.orig


# specific folders to ignore
boxes
DB
workspace
provisioning/vendor/vemt
provisioning/vendor/vemt_old
